# Assignment 3

## Part 1

#### 1. What is the advantage of using the Apriori algorithm in comparison with computing the support of every subset of an itemset in order to find the frequent itemsets in a transaction dataset?

"Support: It gives the fraction of transactions which contains item A and B. Basically Support tells us about the frequently bought items or the combination of items bought frequently."


The advantage of the Apriori Algorithm is that it is effective at eliminating candidate itemset without computing their support values. <br> If an itemset set has value less than minimum support then all of its supersets will also fall below min support, and thus can be ignored. This property is called the Antimonotone property.

This algorithm uses two steps “join” and “prune” to reduce the search space. It is an iterative approach to discover the most frequent itemsets.

Apriori algorithm works in this way:

The probability that item (A) is not frequent if:<br>
P(A) < minimum support threshold, then A is not frequent.<br> 
P(A+B) < minimum support threshold, then A+B is not frequent, where B also belongs to itemset.<br>

#### 2. Let $\mathcal{L}_1$ denote the set of frequent $1$-itemsets. For $k \geq 2$, why must every frequent $k$-itemset be a superset of an itemset in $\mathcal{L}_1$?

Apriori starts by finding the set of frequent 1-itemsets $\mathcal{L}_1$ <br>
Subsequently, it uses  $\mathcal{L}_k-1$ to find  $\mathcal{L}_k$ for every k ≥ 2 <br>
Because the join step generates a set of candidates  $\mathcal{L}_k$ from  $\mathcal{L}_k-1$. <br> 
Also Apriori algorithm guarentees that if an itemset is frequent, then all of its subsets must also be frequent. <br>
All of above explain why must every frequent $k$-itemset be a superset of an itemset in $\mathcal{L}_1$

#### 3. Let $\mathcal{L}_2 = \{ \{1,2\}, \{1,5\}, \{2, 3\}, \{3, 4\}, \{3, 5\}\}$. Compute the set of candidates $\mathcal{C}_3$ that is obtained by joining every pair of joinable itemsets from $\mathcal{L}_2$.

 $\mathcal{C}_3 = \{ \{1,2,3\}, \{1,2,5\}, \{1,3,5\}, \{2,3,4\}, \{2,3,5\}, \{3,4,5\}\}$.

#### 4. Let $S_1$ denote the support of the association rule $\{ \text{popcorn, soda} \} \Rightarrow \{ \text{movie} \}$. Let $S_2$ denote the support of the association rule $\{ \text{popcorn} \} \Rightarrow \{ \text{movie} \}$. What is the relationship between $S_1$ and $S_2$?

The support of the association rule $S_1$: $\{ \text{popcorn, soda} \} \Rightarrow \{ \text{movie} \}$. suggests that there is a strong relathioship between the sale of (popcorn, soda) and the sale of movies. <br><br>
And the support of the association rule $S_2$: $\{ \text{popcorn} \} \Rightarrow \{ \text{movie} \}$. suggests that there is a strong relathioship between the sale of only (popcorn) and the sale of movies. <br><br>
The two rules indicate that sale of popcorn will highly likely lead to the sale of a movie.

#### 5. What is the support of the rule $\{  \} \Rightarrow \{ \text{Kidney Beans} \}$ in the transaction dataset used in the tutorial presented above?

$\{ \text{Onion, Eggs} \} \Rightarrow \{ \text{Kidney Beans} \}$

#### 6. In the transaction dataset used in the tutorial presented above, what is the maximum length of a frequent itemset for a support threshold of 0.2?

In [159]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit_transform(dataset)
#print(te_ary)

import pandas as pd

df = pd.DataFrame(te_ary, columns=te.columns_)
#display(df)

from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
#display(frequent_itemsets)


frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x)) # length of each frozenset
print("The maximum length of a frequent itemset for a support threshold of 0.2 is: ",max(frequent_itemsets['length']))
print('\nFrequent 6-itemsets:')
display(frequent_itemsets[frequent_itemsets['length'] == 6])

The maximum length of a frequent itemset for a support threshold of 0.2 is:  6

Frequent 6-itemsets:

     support                                           itemsets  length
147      0.2  (Onion, Kidney Beans, Dill, Nutmeg, Yogurt, Eggs)       6
148      0.2  (Onion, Kidney Beans, Nutmeg, Yogurt, Eggs, Milk)       6

#### 7. Implement a function that receives a ``DataFrame`` of frequent itemsets and a **strong** association rule (represented by a ``frozenset`` of antecedents and a ``frozenset`` of consequents). This function should returns the corresponding Kulczynski measure. Include the code in your report.

In [161]:
from mlxtend.frequent_patterns import association_rules
import numpy as np
import pandas as pd

strong_rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)

strong_rules = strong_rules.drop(['lift' , 'leverage' , 'conviction'], axis=1)

In [162]:
strong_rules.insert(6, 'Kulczynski', np.nan)

display(strong_rules)

,antecedents,consequents,antecedent support,consequent support,support,confidence,Kulczynski
0,(Apple),(Eggs),0.2,0.8,0.2,1.0,NaN
1,(Apple),(Kidney Beans),0.2,1.0,0.2,1.0,NaN
2,(Apple),(Milk),0.2,0.6,0.2,1.0,NaN
3,(Ice cream),(Corn),0.2,0.4,0.2,1.0,NaN
4,(Corn),(Kidney Beans),0.4,1.0,0.4,1.0,NaN
...,...,...,...,...,...,...,...
689,"(Nutmeg, Yogurt, Milk)","(Eggs, Onion, Kidney Beans)",0.2,0.6,0.2,1.0,NaN
690,"(Nutmeg, Eggs, Milk)","(Yogurt, Onion, Kidney Beans)",0.2,0.4,0.2,1.0,NaN
691,"(Eggs, Yogurt, Milk)","(Nutmeg, Onion, Kidney Beans)",0.2,0.4,0.2,1.0,NaN
692,"(Onion, Milk)","(Eggs, Nutmeg, Yogurt, Kidney Beans)",0.2,0.4,0.2,1.0,NaN
693,"(Nutmeg, Milk)","(Eggs, Yogurt, Onion, Kidney Beans)",0.2,0.4,0.2,1.0,NaN

In [163]:

def cal_Kulczynski(strong_rules) :

    for i in range(len(strong_rules)) : 
        
        antecedent_support = strong_rules.loc[i, "antecedent support"]

        consequent_support = strong_rules.loc[i, "consequent support"]

        support = strong_rules.loc[i, "support"]

        #display(antecedent_support)
        #display(consequent_support)
        #display(support)


        a = support / antecedent_support
        b = support / consequent_support
        c =1/2

        d = c*( a + b )

        strong_rules.at[i, "Kulczynski"] = d

In [164]:
cal_Kulczynski(strong_rules)

In [165]:
display(strong_rules)

,antecedents,consequents,antecedent support,consequent support,support,confidence,Kulczynski
0,(Apple),(Eggs),0.2,0.8,0.2,1.0,0.625000
1,(Apple),(Kidney Beans),0.2,1.0,0.2,1.0,0.600000
2,(Apple),(Milk),0.2,0.6,0.2,1.0,0.666667
3,(Ice cream),(Corn),0.2,0.4,0.2,1.0,0.750000
4,(Corn),(Kidney Beans),0.4,1.0,0.4,1.0,0.700000
...,...,...,...,...,...,...,...
689,"(Nutmeg, Yogurt, Milk)","(Eggs, Onion, Kidney Beans)",0.2,0.6,0.2,1.0,0.666667
690,"(Nutmeg, Eggs, Milk)","(Yogurt, Onion, Kidney Beans)",0.2,0.4,0.2,1.0,0.750000
691,"(Eggs, Yogurt, Milk)","(Nutmeg, Onion, Kidney Beans)",0.2,0.4,0.2,1.0,0.750000
692,"(Onion, Milk)","(Eggs, Nutmeg, Yogurt, Kidney Beans)",0.2,0.4,0.2,1.0,0.750000
693,"(Nutmeg, Milk)","(Eggs, Yogurt, Onion, Kidney Beans)",0.2,0.4,0.2,1.0,0.750000

#### 8. Implement a function that receives a ``DataFrame`` of frequent itemsets and a **strong** association rule (represented by a ``frozenset`` of antecedents and a ``frozenset`` of consequents). This function should return the corresponding imbalance ratio. Include the code in your report.

In [166]:
strong_rules.insert(7, 'Imbalance Ratio', np.nan)

display(strong_rules)

,antecedents,consequents,antecedent support,consequent support,support,confidence,Kulczynski,Imbalance Ratio
0,(Apple),(Eggs),0.2,0.8,0.2,1.0,0.625000,NaN
1,(Apple),(Kidney Beans),0.2,1.0,0.2,1.0,0.600000,NaN
2,(Apple),(Milk),0.2,0.6,0.2,1.0,0.666667,NaN
3,(Ice cream),(Corn),0.2,0.4,0.2,1.0,0.750000,NaN
4,(Corn),(Kidney Beans),0.4,1.0,0.4,1.0,0.700000,NaN
...,...,...,...,...,...,...,...,...
689,"(Nutmeg, Yogurt, Milk)","(Eggs, Onion, Kidney Beans)",0.2,0.6,0.2,1.0,0.666667,NaN
690,"(Nutmeg, Eggs, Milk)","(Yogurt, Onion, Kidney Beans)",0.2,0.4,0.2,1.0,0.750000,NaN
691,"(Eggs, Yogurt, Milk)","(Nutmeg, Onion, Kidney Beans)",0.2,0.4,0.2,1.0,0.750000,NaN
692,"(Onion, Milk)","(Eggs, Nutmeg, Yogurt, Kidney Beans)",0.2,0.4,0.2,1.0,0.750000,NaN
693,"(Nutmeg, Milk)","(Eggs, Yogurt, Onion, Kidney Beans)",0.2,0.4,0.2,1.0,0.750000,NaN

In [167]:
def cal_Imbalance_Ratio(strong_rules):

    for i in range(len(strong_rules)) : 
        
        antecedent_support = strong_rules.loc[i, "antecedent support"]

        consequent_support = strong_rules.loc[i, "consequent support"]

        support = strong_rules.loc[i, "support"]

        #display(antecedent_support)
        #display(consequent_support)
        #display(support)


        a = abs(antecedent_support - consequent_support)
        b = antecedent_support + consequent_support - support
       

        c = ( a / b )

        strong_rules.at[i, "Imbalance Ratio"] = c

In [168]:
cal_Imbalance_Ratio(strong_rules)

In [169]:
display(strong_rules)

,antecedents,consequents,antecedent support,consequent support,support,confidence,Kulczynski,Imbalance Ratio
0,(Apple),(Eggs),0.2,0.8,0.2,1.0,0.625000,0.750000
1,(Apple),(Kidney Beans),0.2,1.0,0.2,1.0,0.600000,0.800000
2,(Apple),(Milk),0.2,0.6,0.2,1.0,0.666667,0.666667
3,(Ice cream),(Corn),0.2,0.4,0.2,1.0,0.750000,0.500000
4,(Corn),(Kidney Beans),0.4,1.0,0.4,1.0,0.700000,0.600000
...,...,...,...,...,...,...,...,...
689,"(Nutmeg, Yogurt, Milk)","(Eggs, Onion, Kidney Beans)",0.2,0.6,0.2,1.0,0.666667,0.666667
690,"(Nutmeg, Eggs, Milk)","(Yogurt, Onion, Kidney Beans)",0.2,0.4,0.2,1.0,0.750000,0.500000
691,"(Eggs, Yogurt, Milk)","(Nutmeg, Onion, Kidney Beans)",0.2,0.4,0.2,1.0,0.750000,0.500000
692,"(Onion, Milk)","(Eggs, Nutmeg, Yogurt, Kidney Beans)",0.2,0.4,0.2,1.0,0.750000,0.500000
693,"(Nutmeg, Milk)","(Eggs, Yogurt, Onion, Kidney Beans)",0.2,0.4,0.2,1.0,0.750000,0.500000

## Part 2